<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>Info</servlet-name>
        <servlet-class>com.caspian.service.Info</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Info</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Start</servlet-name>
        <servlet-class>com.caspian.service.Start</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Start</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Record</servlet-name>
        <servlet-class>com.caspian.service.Record</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Record</servlet-name>
        <url-pattern>/record</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Phrase</servlet-name>
        <servlet-class>com.caspian.service.Phrase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Phrase</servlet-name>
        <url-pattern>/phrase</url-pattern>
    </servlet-mapping>
</web-app>